* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    text-decoration: none;
    list-style: none;

}



header {
    width: 100vw;
    height: 100px;
    background-color: aquamarine;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

nav div {
    display: flex;
    align-items: center;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav a .menu {
    opacity: 0;
    margin-left: -1000px;
}

nav div a img {
    max-width: 90px;
    max-height: 90px;
}

nav div label {
    font-size: 35px;
    font-weight: 600;
}

header div ul {
    display: flex;
}

header div ul li a {
    margin: 0px 30px;
    font-size: 20px;
    font-weight: 600;
    color: black;
}



section {
    width: 100vw;
    height: 100vh;
    position: relative;
    z-index: -2;
    background-color: rgb(16, 14, 14);
    overflow: hidden;
}

.hidden {
    transform: rotateY(90deg);
}

.home {
    width: 100vw;
    height: 100vh;
    display: flex;
    position: absolute;


}

.home1 {
    max-width: 50vw;
    align-items: center;
    justify-content: center;
    padding: 50px 40px;
    margin-top: 100px;
    margin-left: 20px;
}

.home1 h1 {
    font-size: 40px;
    color: white;
}
.home1 p{
    color: aqua;
    margin-top: 20px;
    font-size: 15px;
}

.home1 div {
    
    margin-top: 15px;
    
}

.home1 div a {
    background-color: rgb(44, 42, 42);
    color: white;
    border-radius: 20px;
    padding: 10px;
}
.home2 {
    max-width: 50vw;
    max-height: 100vh;

}

.circle {
    background-color: aqua;
    width: 600px;
    height: 600px;
    border-radius: 50%;
    margin-top: 40%;
    margin-left: 40%;
    background: #faf4f4;
    box-shadow: -26px -26px 51px #d5cfcf,
        26px 26px 51px #ffffff;
    opacity: 0.7;


}

.about {

    position: absolute;

}










@media only screen and (max-width: 1024px) {
    body {
        background-color: rgb(16, 14, 14);
    }

    header div ul li a {
        margin: 0px 25px;
        font-size: 15px;
    }

    .home1 h1 {
        color: white;
    }

}

@media only screen and (max-width: 800px) {
    body {
        background-color: antiquewhite;
    }

    header {
        position: fixed;
        display: inline;

    }

    header nav {
        display: flex;
        justify-content: space-between;
        align-items: center;

    }


    header nav a .menu {
        max-width: 60px;
        max-height: 60px;
        opacity: 1;
        margin-left: 0px;
        margin-right: 40px;
    }

    header nav div label {
        font-size: 25px;
    }

    header div {
        position: relative;
    }

    header div ul {
        display: flex;
        flex-direction: column;
        width: 100vw;
        height: 100vh;
        margin-left: -1000px;
        align-items: center;
        animation-name: menuClose;
        animation-duration: 1.1s;
    }

    @keyframes menuClose {
        0% {
            opacity: 1;
        }

        100% {
            opacity: 0;
        }

    }

    header div .menu {
        display: flex;
        flex-direction: column;
        width: 100vw;
        height: 100vh;
        margin-left: 0;
        margin-top: 35px;
        align-items: center;
        animation-name: menu;
        animation-duration: 1.1s;
        position: absolute;
        z-index: 1;
        background-color: rgba(15, 15, 15, 0.758);

    }

    @keyframes menu {
        0% {
            opacity: 0;
        }

        25% {
            opacity: 0.3;
        }

        75% {
            opacity: 0.8;
        }

        100% {
            opacity: 1;
        }
    }

    nav div a img {
        max-width: 60px;
        max-height: 60px;

    }

    header div ul li {
        margin: 70px 0px;

    }

    header div ul li a {
        font-size: 30px;
        color: white;
    }




    section {
        padding-top: 100px;
        
    }

    .home {
        flex-direction: column;
    }

}